@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --dark: #AC773C;
    --light: #EECFC5;
}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* background-color: #24262b; */
}

/* added for image slider  */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    /* background-color: #24262b; */
}
/* added for image slider  */


.header{
    background-color: var(--light);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 25px;
    height: 80px;
    align-items: center;
    /* visibility: hidden; */
}

.logo img{
    height: 50px;
}

.search input{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

.icons{
    text-align: right;
}

.icons .fa{
    color: var(--dark);
    text-decoration: none;
    font-size: 22px;
    padding: 0px 10px;
    transition: 0.6s;
}

.fa:hover{
    color: black;
}

.links{
    background-color: var(--light);
    display: none;
    /* height: 0; */
    transition: 0.4s;
}

.links a{
    color: var(--dark);
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    transition: 0.4s;
}

.links a:hover{
    color: black;
}

.showmylinks{
    display: block;
}

@media only screen and (max-width: 650px) {
    .header{
        grid-template-columns: auto auto;
        padding: 10px 7px;
        height: auto;
    }
    
    .search{
        grid-column: 2;
        grid-row: 2;
        grid-column: 1/span 2;
        padding-top: 10px;
    }

    .icons .fa{
        padding: 5px;
    }

    .logo img{
        height: 40px;
    }
}

/* image slider starts  */

.slider{
    /* border: 2px solid black; */
    margin: 10px;
    height: 80vh;
    width: auto;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 12px solid red; */
    overflow: hidden;
}

.slides input{
    display: none;
}

.slide{
    /* border: 5px solid blue;     */
    transition: 2s;
}

.slide img{
    width: 210vh;
    height: 75vh;
}


/* css for manual slide navigation  */

.navigation-manual{
    /* border: 2px solid red; */
    position: absolute;
    width: auto;
    display: flex;
    margin-top: -80px;
    justify-content: center;
    margin-left: 43%;
}

.manual-btn{
    border: 2px solid var(--dark);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: var(--dark);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
/* css for manual slide navigation  */

/* css for automatic slide navigation  */

.navigation-auto{
    /* border: 3px solid red; */
    position: absolute;
    width: auto;
    display: flex;
    margin-left: 43%;
    margin-top: 497px;
}

.navigation-auto div{
    border: 2px solid var(--dark);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--dark);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--dark);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--dark);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--dark);
}

/* css for automatic slide navigation  */


/* image slider ends  */

/* footer css starts */

.footer_container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transform: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

/* footer css ends */